.todos {
  &:nth-child(1) {
    border-radius: 0.375rem;
  }

  &:first-child {
    border-radius: 0.375rem;
  }

  li:first-of-type {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  li {
    border-bottom: 1px solid hsl(233, 14%, 35%);
    transition: opacity 0.4s ease, transform 0.4s ease;

    &.removing-animation {
      transform: translateX(-100%);
      opacity: 0;
    }

    @media screen and (min-width: 1024px) {
      &:hover {
        .remove-todo {
          display: block;
        }
      }
    }

    .checkbox-completed {
      background: transparent;
      border-radius: 50%;
      height: 21px;
      width: 21px;
      background: hsl(233, 14%, 35%);
      position: relative;

      &:hover {
        background: linear-gradient(
          135deg,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
      }

      &::after {
        background: hsl(235, 24%, 19%);
        width: 19px;
        height: 19px;
        border-radius: 50%;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-52%, -53%);
      }

      &.marked {
        &::after {
          background: linear-gradient(
            135deg,
            hsl(192, 100%, 67%),
            hsl(280, 87%, 65%)
          );
        }

        &::before {
          content: url("../../assets/icon-check.svg");
          position: absolute;
          z-index: 10;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-51%, -51%);
        }
      }
    }
  }
}
